* {
  font-family: Consolas, monospace;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

#user-input {
  margin-top: 20px;
  padding: 10px;
  border-radius: 0;
}

/* Remove that blue highlight please */
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
}

.hidden {
  display: none !important;
}

.glyphicon {
  margin: 5px 0;
  font-size: 30px;
}

ul.messages {
  list-style: none;
  text-decoration: none;
  padding: 0;
}

ul.messages li {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid black;
  overflow-wrap: break-word;
}

