* {
  font-family: Consolas, monospace;
}

html {
  background: url('http://i.imgur.com/eJlatuG.gif’);
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
}

.App-header {
  padding: 20px;
  color: white;
}

#user-input {
  margin-top: 20px;
  padding: 22px 10px;
  border-radius: 2px;
  border: 0px;
  background: rgba(255,255,255,0.2);
}

#user-input:focus {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

/* Remove that blue highlight please */
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
}

.hidden {
  display: none !important;
}

.glyphicon {
  margin: 5px 0;
  font-size: 30px;
}

ul.messages {
  list-style: none;
  text-decoration: none;
  padding: 0;
}

ul.messages li {
  text-align: left;
  color: white;
  padding: 10px;
  border-bottom: 1px solid white;
  background: rgba(0,0,0,0.4);
  overflow-wrap: break-word;
}

.bottom-screen {
  position: absolute;
  top: 50em;
}

.Buttons-div {
  margin-top: 1em;
}

.Buttons-margin {
  margin: 1em;
  text-transform: uppercase;
  border-radius: 2px;
  border: 2px solid white;
  transition: all .2s ease-in-out;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #63493b;
  border-background: #63493b;
}
